{
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "parser": "babel-eslint"
  },
  "extends": "standard",
  "rules": {
    "prefer-const": "off",
    "no-async-promise-executor": "off"
  }
}